<div class="genre">
  <div class="container">
    <div class="col-log-8 col-md-8 col-sm-12 col-xs-12 genre-left">
      <h3>All Genres</h3>
      <div class="genres-list">
        <%= form_tag genres_path, method: :get, remote: true do %>
          <% @genres.each do |genre| %>
            <label title="<%= genre.name %>">
              <%= check_box_tag "genre_ids[]", genre.id, false,
                {class: "genre-check-box"} %>
              <span class="genre-name"><%= genre.code %></span>
            </label>
          <% end %>
        <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
      </div>
      <hr>
      <div class="game-list">
        <h3>Games</h3>
        <div class="game-list-size">
          Have <span class="games-size"><%= @games.size %></span> games
        </div>
        <div class="game-list-content">
          <%= render "games/games", games: @games %>
        </div>
      </div>
    </div>

    <div class="col-log-4 col-md-4 col-sm-12 col-xs-12 genre-right">
      <%= render "pages/page_right", top_games: @top_games,
        recent_games: @recent_games %>
    </div>
  </div>
</div>
