<div class="comment <%= comment.id %>" data-id="<%= comment.id %>">
  <% user = comment.user %>
  <div class="comment-left">
    <%= image_tag user.avatar_url, class: "img-responsive
      comment-avatar" %>
  </div>

  <div class="comment-right">
    <div class="main-comment">
      <div class="comment-header">
        <p class="nick-name"><%= link_to user.nick_name, user %></p>
        <small><%= l comment.created_at, format: :default %></small>
      </div>

      <div class="comment-body">
        <div class="comment-content <%= comment.id %>">
          <%= comment.content %>
        </div>
      </div>

      <div class="comment-footer">
        <div class="comment-footer-body">
          <span class="reply" title="Reply this comment">
            <%= link_to new_comment_reply_comment_path(comment),
              remote: true do %>
              <i class="fa fa-reply comment-reply-btn" data-id=<%= comment.id %>
                title="Reply this comment"
                aria-hidden="true"></i>
            <% end %>
          </span>

          <span class="reply-comment-icon" data-id="<%= comment.id %>">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <%= comment.reply_comments.size %>
          </span>
        </div>

        <div class="read-more-reply-comment <%= comment.id %>">
          <% if !comment.reply_comments.empty? %>
            <%= render "reply_comments/readmore", comment: comment %>
            <%= render "reply_comments/hide", comment: comment %>
          <% end %>
        </div>
        <div class="clearfix"></div>

        <div class="comment-actions">
          <%= render "comments/comment_action", comment: comment %>
        </div>
      </div>
    </div>

    <div class="reply-comments reply-comments-<%= comment.id %>">
    </div>

    <div class="reply-comment-form reply-comment-form-<%= comment.id %>">
    </div>
  </div>
</div>
