<aside class="main-sidebar">
  <section class="sidebar admin-sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="treeview menu-open active">
        <%= link_to admin_root_path, remote: true do %>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
          <span>Games</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        <% end %>

        <ul class="treeview-menu">
          <li class="active">
            <%= link_to "#", remote: true do %>
              <i class="fa fa-list" aria-hidden="true"></i>
             <span>All games</span>
            <% end %>
          </li>
          <li>
            <%= link_to "#", remote: true do %>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <span>Add new game</span>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <%= link_to admin_requests_path, remote: true do %>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>Requests</span>
        <% end %>
      </li>

      <li class="treeview">
        <%= link_to admin_users_path, remote: true do %>
          <i class="glyphicon glyphicon-user"></i>
          <span>Users</span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
