<div class="admin-game form-game-modal">
  <div class="container">
    <div class="modal-header">
      <h4 class="modal-title text-center">
        <%= @game.id? ? "Edit game" : "New game" %>
      </h4>
    </div>
    <div class="modal-body">
      <%= form_for [:admin, @game], multipart: true,
        authenticity_token: true do |f| %>
        <div class="game-error">
          <%= render "shared/error_messages", object: @game %>
        </div>
        <div class="field genres-list">
          <% genre_ids = (params[:genre_ids]
            .map(&:to_i) if params[:genre_ids]) || (@game
            .genres.ids if @game.genres) %>
          <%= f.label :genres, "Genres" %><br />
          <% @genres.each do |genre| %>
            <label title="<%= genre.name %>">
              <%= check_box_tag "genre_ids[]", genre.id,
                check_genre_list(genre_ids, genre.id),
                {class: "genre-check-box"} %>
              <span class="genre-name"><%= genre.code %></span>
            </label>
          <% end %>

          <div class="field">
            <% unless @game.id? %>
              <%= f.fields_for :genres do |builder| %>
                <%= render "genre_fields", f: builder %>
              <% end %>
              <%= link_to_add_fields "<span class='glyphicon glyphicon-plus
                small'></span> <small>Add more genre</small>", f, :genres %>
            <% end %>
          </div>
        </div>

        <div class="field">
          <%= f.label :name, "Name" %><br />
          <%= f.text_field :name, autofocus: true,
            placeholder: "Enter name of game", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :info, "Information" %><br />
          <%= f.text_area :info, autofocus: true,
            placeholder: "Enter information of game",
            class: "form-control game-info" %>
        </div>

        <div class="field">
          <%= f.label :required, "Required" %><br />
          <%= f.text_area :required, autofocus: true,
            placeholder: "Enter required of game",
            class: "form-control game-require" %>
        </div>

        <div class="field">
          <%= f.label :cover, "Cover" %><br />
          <div class="game-cover-form">
            <%= image_tag @game.cover_url, class: "img-responsive
              game-cover" %>
            <%= f.file_field :cover, class: "game-cover-field" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :screenshots, "Screen shots" %><br />
          <%= f.fields_for :screenshots do |builder| %>
            <%= render "screenshot_fields", f: builder %>
          <% end %>
          <%= link_to_add_fields "<span class='glyphicon glyphicon-plus small'>
            </span> <small>Add more image</small>", f, :screenshots %>
          <div class="clearfix"></div>
        </div>

        <div class="actions">
          <%= link_to "Cancel", [:admin, @game], class: "btn btn-danger" %>
          <%= f.button "Save", class: "btn btn-primary",
            data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>
            Saving..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
