<h2>Change information</h2>

<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <div class="field">
    <%= f.label :nick_name %><br />
    <%= f.text_field :nick_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :sex, "Sex: "  %>
    <label>
      <%= f.radio_button :sex, "male", checked: true %>
      <span>Male</span>
    </label>

    <label>
      <%= f.radio_button :sex, "female" %>
      <span>Female</span>
    </label>
  </div>

  <div class="actions">
    <%= f.submit "Save change" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
