<div class="user">
  <div class="container">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 user-left">
      <div class="user-avatar">
        <%= image_tag @user.avatar_url, class: "img-responsive avatar" %>
        <div class="clearfix"></div>
      </div>

      <div class="user-info">
        <div class="info email">
          <label><i class="fa fa-envelope" aria-hidden="true"></i></label>
          <%= @user.email %>
        </div>

        <div class="info nick-name">
          <label><i class="fa fa-user" aria-hidden="true"></i></label>
          <%= @user.nick_name %>
        </div>

        <div class="info birthday">
          <label><i class="fa fa-birthday-cake" aria-hidden="true"></i></label>
          <%= l @user.birthday, format: :default %>
        </div>

        <div class="info sex">
          <label><i class="fa fa-mars-stroke"></i></label>
          <%= @user.sex.capitalize %>
        </div>

        <div class="info review-number">
          <label>
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
          </label>
          <label><%= @user.reviews.size %></label>
        </div>
        <hr>
        <%= link_to "Change information", "#" %>
        <%= link_to "Change password", edit_user_registration_path %>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 user-right">
      <hr class="resposive">
      <h4><%= @user.nick_name %>'s reviews</h4>
      <hr class="normal">
      <% @reviews.each do |review| %>
        <%= render "reviews/medium", review: review %>
        <hr>
      <% end %>
      <%= paginate @reviews %>
    </div>
  </div>
</div>
