<div class="modal-dialog form-genre-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        &times;
      </button>
      <h4 class="modal-title text-center">
        <%= @genre ? "Edit genre" : "New genre" %>
      </h4>
    </div>
    <div class="modal-body">
      <%= form_for [:admin, @genre], remote: true do |f| %>
        <div class="genre-error">
          <%= render "shared/error_messages", object: @genre %>
        </div>

        <div class="field">
          <%= f.label :name, "Name" %><br />
          <%= f.text_field :name, autofocus: true,
            placeholder: "Enter name of genre", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :code, "Code" %><br />
          <%= f.text_field :code, autocomplete: "off",
            placeholder: "Enter code of genre", class: "form-control" %>
        </div>

        <div class="actions">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
          <%= f.button "Save", class: "btn btn-primary",
            data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>
            Saving..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
