<% requests.each_with_index do |_request, index| %>
  <tr class="request-<%= _request.id %>">
    <td><%= index + 1 %></td>
    <td><%= _request.game_name %></td>
    <td><%= _request.genre_info %></td>
    <td><%= _request.required %></td>
    <td><%= _request.info %></td>
    <td><%= l _request.created_at, format: :default %></td>
    <td>
      <span class="status <%= _request.status %>"><%= _request.status %></span>
    </td>
    <td><%= _request.reason %></td>
    <td>
      <% if _request.waiting? %>
        <%= link_to "Edit", edit_user_request_path(current_user, _request),
          remote: true, class: "btn btn-default col-lg-5 col-md-5 col-sm-12
          col-xs-12 btn-request-edit" %>

        <div class="col-lg-1 col-md-1"></div>

        <%= link_to "Delete", user_request_path(current_user, _request),
          method: :delete, remote: true, data: {confirm: "Are you sure?"},
          class: "btn btn-danger col-md-5 col-sm-12 col-xs-12
          btn-request-delete" %>
      <% end %>
    </td>
  </tr>
<% end %>
<%= paginate requests, theme: "twitter-bootstrap-3" %>
