<div class="game-mini">
  <div class="game-left">
    <div class="game-cover">
      <%= image_tag game.cover, class: "img-responsive" %>
    </div>
  </div>

  <div class="game-right">
    <div class="game-name">
      <span class="name">
        <%= link_to game do %>
          <% if defined? index %>
            <%= index %>.
          <% end %>
          <%= game.name %>
        <% end %>
      </span>
    </div>

    <div class="game-genre">
      <% game.genres.each do |genre| %>
        <%= view_genre game.genres, genre %>
      <% end %>
    </div>
  </div>
</div>
