<div class="reply-comment">
  <% user = reply_comment.user %>
  <div class="reply-comment-left">
    <%= image_tag user.avatar_url, class: "img-responsive
      reply-comment-avatar" %>
  </div>

  <div class="reply-comment-right">
    <div class="reply-comment-header">
      <p class="nick-name"><%= link_to user.nick_name, user %></p>
      <small><%= l reply_comment.created_at, format: :default %></small>
    </div>

    <div class="reply-comment-body">
      <p><%= view_reply_comment reply_comment %></p>
    </div>

    <div class="reply-comment-footer">
      <%= link_to new_comment_reply_comment_path(reply_comment.comment,
        reply_user_id: reply_comment.user.id), remote: true do %>
        <i class="fa fa-reply comment-reply-btn"
          data-id=<%= reply_comment.comment.id %>
          title="Reply this comment"
          aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
