<div class="review-mini">
  <div class="review-header">
    <div class="review-title">
      <h4 class="title"><%= review.title %></h4>
      <div class="star">
        <% (1..review.point).each do |index| %>
          <i class="fa fa-star"></i>
        <% end %>
      </div>
    </div>

    <div class="review-date">
      By <%= link_to review.user.nick_name, review.user %>, on
        <%= l review.created_at, format: :default %>
    </div>

    <div class="review-game">
      The game: <h5><%= link_to review.game.name, review.game %></h5>
    </div>
  </div>

  <div class="review-body">
    <div class="game-cover">
      <%= image_tag review.game.cover, class: "img-responsive" %>
    </div>

    <div class="review-content">
      <%= raw review.content %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="review-footer">
    <div class="review-read-more">
      <%= link_to "Read more", review,
        class: "btn btn-default btn-xs btn-read-more" %>
    </div>

    <div class="review-action">
      <span class="review-like">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <%= review.likes.size %>
      </span>

      <span class="review-dislike">
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        <%= review.dislikes.size %>
      </span>

      <span class="review-comment">
        <%= link_to "#" do %>
          <i class="fa fa-comments" aria-hidden="true"></i>
          <%= review.comments.size %>
        <% end %>
      </span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

