<div class="review-mini">
  <div class="review-header">
    <div class="review-title">
      <h5 class="title"><%= review.title %></h5>
      <div class="star">
        <% (1..review.point).each do |index| %>
          <i class="fa fa-star"></i>
        <% end %>
      </div>
    </div>

    <div class="review-date">
      By <%= link_to review.user.nick_name, review.user %>, on
        <%= l review.created_at, format: :default %>
    </div>

    <div class="review-actions">
      <%= render "reviews/review_action", review: review %>
    </div>
  </div>

  <div class="review-body">
    <div class="review-content">
      <%= raw review.content %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="review-footer">
    <div class="review-read-more">
      <%= link_to "Read more", review,
        class: "btn btn-default btn-xs btn-read-more" %>
    </div>

    <div class="review-action">
      <%= render "emotitions/emotition_form", review: review,
        emotition: review.emotition_by_user(current_user) %>

      <span class="review-comment">
        <%= link_to review do %>
          <i class="fa fa-comments" aria-hidden="true"></i>
          <%= review.comments.size %>
        <% end %>
      </span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
