<div class="header">
  <div class="header-above">
    <div class="container">
      <div class="header-above-left">
        <%= link_to root_path do %>
          <h3 class="title">Game Review System</h3>
        <% end %>
      </div>

      <div class="header-above-right">
        <% if user_signed_in? %>
          <h5 class="dropdown item-right header-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
              title="<%= current_user.nick_name %>">
              <%= image_tag current_user.avatar_url,
                class: "img-responsive avatar-header" %>
              <span class="header-user-name">
                <%= truncate current_user.nick_name, length: 20 %>
              </span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Profile", current_user %>
              </li>
              <li>
                <%= link_to "Log out", destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          </h5>
        <% else %>
          <h4 class="item-right">
            <%= link_to "Sign up", new_user_registration_path %>
          </h4>
          <h4 class="item-or">or</h4>
          <h4 class="item-right">
            <%= link_to "Log in", new_user_session_path %>
          </h4>
        <% end %>
      </div>
    </div>
  </div>

  <div class="header-below">
    <div class="container">
      <div class="header-below-left">
        <ul class="menu" id="menu-header">
          <li class="li-icon" onclick="myFunction()">
            <a href="javascript:void(0);" class="icon">&#9776;</a>
          </li>

          <li class="item pages active">
            <%= link_to "Pages", root_path %>
          </li>

          <li class="item genres">
            <%= link_to "Genres", genres_path %>
          </li>

          <li class="item reviews">
            <%= link_to "Reviews", reviews_path %>
          </li>

          <% if user_signed_in? %>
            <li class="item-left">
              <%= link_to "Profile", current_user %>
            </li>
            <li class="item-left"><%= link_to "Log out",
              destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="item-left">
              <%= link_to "Sign up", new_user_registration_path %>
            </li>

            <li class="item-left">
              <%= link_to "Log in", new_user_session_path %>
            </li>
          <% end %>
          <div class="clearfix"></div>
        </ul>
      </div>

      <div class="header-below-right">
        <%= form_tag "#", class: "form-search" do %>
          <%= text_field_tag :search, params[:search],
            placeholder: "Enter name of game, categories...",
            class: "header-search" %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<script>
  var pathName = window.location.pathname.substring(1);
  $('.item').removeClass('active');
  if ($('.item').hasClass(pathName)) {
    $('.' + pathName).addClass('active');
  }
  else {
    $('.pages').addClass('active');
  }

  function myFunction() {
    var x = document.getElementById("menu-header");
    if (x.className === "menu") {
      x.className += " responsive";
    } else {
      x.className = "menu";
    }
  }

  function openListGenre() {
    $('.item-expand').css('margin-bottom', '5px');
    $('.div-item').show();
    $('.item-expand').css('display', 'inline-flex');
  }

  function closeListGenre() {
    $('.item-expand').css('margin-bottom', '0');
    $('.div-item').hide();
    $('.item-expand').hide();
  }
</script>
